
    <div class="row">
        <div class="col-sm-1">
            ID
        </div>
        <div class="col-sm-2">
            编号
        </div>
        <div class="col-sm-3">
            表名
        </div>
        <div class="col-sm-4">
            格式
        </div>
        <div class="col-sm-5">
            序数位数
        </div>
        <div class="col-sm-6">
            序数值
        </div>
        <div class="col-sm-7">
            时间
        </div>
        <div class="col-sm-8">
            操作
        </div>
    </div>
